{% extends "main/base.html" %}

{% block title %} | log in{% endblock %}

{% block content %}
<br/>
<form action="" method="post">
	{% csrf_token %}
	<input name="username" type="text" placeholder="username" /><br/>
	<input name="password" type="password" placeholder="password" /><br/>
	<input type="submit" value="log in"/>
	{% if login_error %}
		<span class="error">bad credentials!</span>
	{% endif %}
</form>

<br/>

<form action="" method="post">
	{% csrf_token %}
	<input name="username" type="text" placeholder="username" /><br/>
	<input name="password" type="password" placeholder="password" /><br/>
	<input name="confirm_password" type="password" placeholder="confirm password" /><br/>
	<input type="submit" value="sign up"/>
	{% if signup_error %}
		<span class="error">bad credentials!</span>
	{% endif %}
	{% if already_exists_error %}
		<span class="error">username already taken!</span>
	{% endif %}
</form>
{% endblock %}